.note {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.note-content {
  padding-bottom: 1rem;
}

time {
  font-size: 0.7rem;
  color: #666;
  padding: 0;
  margin: 0;
}
