.note {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.note-content {
  flex: 1;
}

.note-importance {
  font-weight: bold;
  font-size: 0.8rem;
  background-color: var(--danger-background);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--danger-text);
}
